.container {
  margin: auto;
  width: 50%;
  border: 3px solid aquamarine;
  padding: 10px;
  background: rgb(152, 205, 187);
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2020/07/08/11/07/imagination-5383470_1280.jpg");
  background-color: forestgreen;
}
