*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../imgs/landscape.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding-left: 9%;
    padding-right: 11%;
    box-sizing: border-box;

    
    font-size: 17px;
}
  
ol > li{
    margin-top: 35px;
    margin-left: 50px;
    font-weight: 500;
    line-height: 1.61111em;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

  
  
.footer-container {
    padding-top: 35px;
    padding-bottom: 25px;
    margin: 0;
    background-color: black;
    color: #5A5A5A;
    text-align: center;
    display: flex;
}

.footer-container div {
    margin-left: 120px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}


.footer-container li {
    list-style-type: none;
}

.footer-container div h5, address strong {
    padding: 0;
    font-size:15px;
    font-weight: bold;
    color: #bcbcbc;
}

.footer-container a {
    text-decoration: none;
    color: #5A5A5A;
}
