/* .navbar {
    background-color: rgb(152, 205, 187);
  }
  
  .text-uppercase{
      color: darkblue;
  }
   */

header {
    display: block;
    background-color: black;
    margin-top: 0;
    color: white;
    padding-top: 20px;
    /* padding-bottom: 30px; */
}

a {
    color: white;
    text-decoration: none;
}
  
li:hover, a:focus {
      color: white;
      text-decoration: underline;
}


.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
