<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://cdn.pixabay.com/photo/2021/02/03/05/37/question-mark-5976736_1280.png" alt="logo" width="55" height="60">
        <span class="text-uppercase">  Cultura generala</span>
      </a>
    </div>
  </nav> -->

<header>
  <div class="container">
    <!-- row 1 -->
    <div style="display: flex; flex-direction: row;">
      <!-- <a class="brand pull-left" >Teambuilding</a> -->
      <ul class="list-inline list-unstyled pull-right">
        <li><a href="home">Home</a></li>
        <li><a href="#features">Activities</a></li> 
        <li routerLink="teams"><a href="/teams">Teams</a></li>
        <li><a href="#pricing">Shop</a></li>
        <li *ngIf = "apiService.user == undefined" routerLink="login"><a href="/login">Login</a></li>
        <li><button (click)="profil()"><i class="fa fa-user" aria-hidden="true"></i></button></li>
        <li><button *ngIf = "!!apiService.user" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button></li>
      </ul>
      <div style="flex-grow: 1"></div>
      
 <div>Hello <span>{{!!apiService.user ? apiService.user.username : 'Stranger '}}</span></div>
<!-- <div>{{ apiService.user.isStaff ? ' Status: I am stafff' : ' Status: Basic employer' }}</div> -->
    </div>
  </div>
</header>