<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://cdn.pixabay.com/photo/2021/02/03/05/37/question-mark-5976736_1280.png" alt="logo" width="55" height="60">
        <span class="text-uppercase">  Cultura generala</span>
      </a>
    </div>
  </nav> -->

<header>
  <div class="container">
    <!-- row 1 -->
    <div class="row">
      <!-- <a class="brand pull-left" >Teambuilding</a> -->
      <ul class="list-inline list-unstyled pull-right">
        <li><a href="home">Home</a></li>
        <li><a href="#features">Activities</a></li> 
        <li routerLink="teams"><a href="/teams">Teams</a></li>
        <li><a href="#pricing">Shop</a></li>
        <li routerLink="login"><a href="/login">Login</a></li>
        <li><button (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button></li>
      </ul>
    </div>
  </div>
</header>