<app-header></app-header>

<h1> Treasure Hunt </h1>

<div class="reguli-container">
    <h2>Reguli</h2>

    <ol>
        <li>Scopul Treasure Hunt-ului</li>
            <p> Scopul este să parcurgeți cât mai multe checkpoint-uri, să vă distrați făcând provocările și cel mai important
                 să lucrați în echipă!
            </p>

        <li>Descriere traseu</li>
            <p> Traseul este format din 4 locații, dintre care una este bonus. Veți primi o listă cu mai multe locații, printre care se află 
                și cele corecte. Folosind doar ghicitorile și hint-urile veți ghici care este următoarea locație la fiecare pas. Pentru a 
                ajunge la o locație aveți voie sa întrebați doar oamenii din împrejurime. Puteți ajunge la locația bonus doar dacă treceți
                 prin toate cele 4 locații.  
            </p>

        <li>Provocări</li>
            <p> Nu puteți primi ghicitoarea de la următoarea locație până nu faceți provocarea de la locația curentă. Echipele vor încărca
                poze și videoclipuri făcute la fiecare provocare. 
            </p>

        <li>Poze și Obiecte</li>
            <p> Veți primi o listă cu poze și obiecte pe care veți primi puncte dacă reușiți să le strângeți. Obiectele nu pot fi 
                cumpărate sau să fi aparținut participanților deja. Targetul pozei nu pot fi participanții la TB.
            </p>

        <li>Battle-uri</li>
        <p> Exista cateva battle-uri. Atunci când 2 echipe se întâlnesc, în cazul în care niciuna dintre
             echipe nu a jucat deja 3 battle-uri, se va da cu zarul și se va juca un battle. În cazul în care ambele echipe au 
             mai jucat provocarea respectivă, se va da iar cu zarul. În cazuri speciale, nu exista loc, dezastre naturale etc. se va da cu 
             zarul până pică un battle desfășurabil în condițiile date. Jucatorul care va incepe battle-ul va fi ales cu spinning wheel.
        </p>

    </ol><br>

    <button class="btn btn-success btn-lg" routerLink="/ghicitoare" (click)="startTH()">Începe jocul</button>
</div>



    <div class="row">
        <div class="col1">
            <h2>Battle 1</h2>
            <p>O persoană din prima echipa trebuie să mimeze un coechipier, timp de maxim 30 de secunde. După acest timp, membrii echipei
            adverse vor încerca să ghicească persoana mimată. Se repetă jocul pentru cealaltă echipă după aceleași reguli. Cine ghicește corect
            din prima, câștigă. Dacă e remiză, se reia, până când cineva greșește.
            </p><br><br>
            
            <h2>Battle 2</h2>
            <p>Fiecare echipă își alege un semnal sonor (de exemplu: la, ma). După ce ambele echipe și-au stabilit semnalul și membrii s-au
                așezat în linie, se dă startul. Primii concurenti din fiecare echipă vor începe concomitent să strige semnalul până rămân 
                fără aer. În momentul în care o persoana nu mai are aer, va ridica mâna, iar următorul coechipier poate începe la rândul lui
                să strige semnalul până rămâne și el fără aer și tot așa. Va pierde echipa care rămâne fără concurenți care sa strige 
                semnalul. Dacă echipele nu au număr egal de voluntari, atunci unul din echipa cu mai mulți va sta pe bara.</p><br><br>
            
            <h2>Battle 3</h2>
            <p>Fiecare echipă se așează în linie. Doi membri consecutivi țin câte o foaie între palme. Echipele trebuie să se deplaseze 
                aproximativ 30m fără să scape foile. Dacă una dintre foi cade, echipa trebuie să o ia de la capăt. Câștigă cea care
                parcurge prima tot traseul până la capăt.</p>
        </div>

        <div class="col2">
            <div class="wheel">
                <ngx-wheel #wheel width='400' height='400' spinDuration='5' [disableSpinOnClick]='true' [items]='players'
                    [innerRadius]='40' [spinAmount]='5' pointerStrokeColor='red' pointerFillColor='purple' [idToLandOn]='idToLandOn'
                    (onSpinStart)='before()' (onSpinComplete)='after()'
                    >
                </ngx-wheel>
            </div>
            <div class="butoane">
                <button (click)="wheel.spin()">Spin</button>
                <button (click)="wheel.reset()">Reset</button>
            </div>
        </div>
    </div>


<footer>
    <div class="footer-container">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        <h5>The company</h5>
        <ul class="list-unstyled">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Packt publisher</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </div>
        <div class="col-sm-2">
        <h5>Social</h5>
        <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        </div>
        <div class="col-sm-2">
        <h5>Support</h5>
        <ul class="list-unstyled">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy police</a></li>
            <li><a href="#">Terms & conditions</a></li>
            <li><a href="#">Help desk</a></li>
        </ul>
        </div>
        <div class="col-sm-4">
        <address>
            <strong>Name, Inc.</strong><br><br>
            Address line 1<br>
            Address line 2<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        </div>
    </div>
  </footer>
  