.reguli-container{
  background-size: cover;
  font-size: 1rem;
  padding-left: 105px;
  padding-right: 255px;
  padding-bottom: 40px;
}

.reguli-container li {
  padding-top: 20px;
  padding-bottom: 7px;
  font-size: 1.1rem;
}

.row{
    display: table;
    background-color: #eef2f5;
    padding-bottom: 60px;
    font-size: 1rem;
    /* width: auto; */
}

.col1{
    float: left;
    width: 60%;
    padding-left: 110px;
    padding-right: 150px;
    padding-top: 20px;
}

.col2 {
    padding-top: 40px;
}  
 
.butoane{
  padding-top: 30px;
  float: right;
  padding-right: 440px;
} 

h1 {
    margin: 0;
    text-align:left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 660px;
    font-weight: bold;
    color:aliceblue;
    background-color: rgb(104, 104, 104);
    /* width: 100%; */
}

h2 {
  padding-top: 35px;
}

.start {
  align-content: center;
  margin: auto;
  width: 60%;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  color:white;
  background-color: rgb(104, 104, 104);
}
  
/* footer */
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-bottom: 0;
    margin-top: auto;
}

.footer-container a {
  text-decoration: none;
  color: #5A5A5A;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
}

.footer-container {
  padding-top: 35px;
  padding-bottom: 20px;
  margin: 0;
  background-color: black;
  color: #5A5A5A;
  text-align: center;
  display: flex;
}

.footer-container div {
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}

.footer-container li {
    list-style-type: none;
}

.footer-container div h5, address strong {
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: #bcbcbc;
  }



@media screen and (max-width: 1430px) {
  .container-ibr {
    font-size: 15px;
    /* padding-bottom: 300px; */
  }

  h1 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }

  .footer-container {
    padding-top: 15px;
    font-size: 0.8rem;
  }

    .footer-container div h5, address strong {
      font-size: 0.9rem;
    }
}
