<body>
  <div class="final">
    <h2>Inca un pas pana la comoara!</h2>
    <p>
      Acum ca ne-am reamintit si de legenda lui Romulus si Remus, parca am vrea sa mai invatam niste
      istorie, chiar si putina geografie, vreo limba straina sau niste informatica. <br />
      Acolo iti atrage atentia ceva inalt si, la fel ca la un curcubeu, la baza lui este comoara,
      premiul pentru finalizarea Treasure hunt-ului! <br />
    </p>
    <img src="https://cdn.pixabay.com/photo/2013/07/12/18/31/treasure-map-153425_1280.png" width="250" height="200" style="margin-left: 20%" />

  </div>
</body>

<footer>
  <div class="footer-container">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <h5>The company</h5>
      <ul class="list-unstyled">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Packt publisher</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h5>Social</h5>
      <ul class="list-unstyled">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h5>Support</h5>
      <ul class="list-unstyled">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy police</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Help desk</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <address>
        <strong>Name, Inc.</strong><br><br>
        Address line 1<br>
        Address line 2<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
</footer>

