<h1>Reguli Treasure Hunt</h1>

<div class="reguli-container">
    <ol>
        <li>Scopul Treasure Hunt-ului</li>
            <p> Scopul este să parcurgeți cât mai multe dintre locațiile din Brașov, să vă distrați făcând provocările și cel mai important
                 să lucrați în echipă!
            </p>

        <li>Descriere traseu</li>
            <p> Traseul este format din 16 locații, dintre care una este bonus. Veți primi o listă cu 35 de locații, printre care se află 
                și cele corecte. Folosind doar ghicitorile și hint-urile veți ghici care este următoarea locație la fiecare pas. Pentru a 
                ajunge la o locație aveți voie sa întrebați doar oamenii din împrejurime. Puteți ajunge la locația bonus, doar dacă treceți
                 prin toate cele 15 locații.  
            </p>

        <li>Provocări</li>
            <p> Nu puteți primi ghicitoarea de la următoarea locație până nu  faceți provocarea de la locația curentă. Echipele vor da
                 HRurului pozele și videoclipurile făcute la fiecare provocare și vor fi încărcate pe drive-ul echipei lor. 
            </p>

        <li>Poze și Obiecte</li>
            <p> Veți primi o listă cu 5 poze și 5 obiecte pe care veți primi puncte dacă reușiți să le strângeți. Obiectele nu pot fi 
                cumpărate sau să fi aparținut participanților deja. Targetul pozei nu pot fi participanții la TB (la persoana cu tatuaj 
                nu puteți să faceți poză cu cineva tatuat dintre noi).  
            </p>

        <li>Battle-uri</li>
        <p> Sunt 6 battle-uri. Fiecare voluntar HR va avea câte un zar. Atunci când 2 echipe se întâlnesc, în cazul în care niciuna dintre
             echipe nu a jucat deja 3 battle-uri, se va da cu zarul și se va juca battle-ul respectiv. În cazul în care ambele echipe au 
             mai jucat provocarea respectivă se va da iar cu zarul. În cazuri speciale, nu exista loc, dezastre naturale etc. se va da cu 
             zarul până pică un battle desfășurabil în condițiile date. La anumite provocări, dacă un HR dă cu zarul, celălalt HR alege 
             tema etc. 
        </p>

    </ol>
   
</div>