<app-header></app-header>

<body>
  <br />
  <br />
  <div class="container1">
    <input [(ngModel)]="register.email" class="inp" placeholder="email">
    <input [(ngModel)]="register.username" class="inp" placeholder="username">
    <input [(ngModel)]="register.password" class="inp" placeholder="password" type="password">
    <!-- <input [(ngModel)]="register.is_staff" class="inp" type="radio" checked> -->

    <button (click)="registerCompany()" class="b">Register as Company</button>
  </div>
</body>
<br><br><br><br><br><br><br><br>

<footer>
  <div class="footer-container">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      <h5>The company</h5>
      <ul class="list-unstyled">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Packt publisher</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      </div>
      <div class="col-sm-2">
      <h5>Social</h5>
      <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Blog</a></li>
      </ul>
      </div>
      <div class="col-sm-2">
      <h5>Support</h5>
      <ul class="list-unstyled">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy police</a></li>
          <li><a href="#">Terms & conditions</a></li>
          <li><a href="#">Help desk</a></li>
      </ul>
      </div>
      <div class="col-sm-4">
      <address>
          <strong>Name, Inc.</strong><br>
          Address line 1<br>
          Address line 2<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      </div>
  </div>
</footer>