.float-container {
    height: 100vh;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(src\app\imgs\teams.jpg);
    background-size: cover;
    color: white;
}

.players{
    margin-top: 30px;
    width: 50%;
    float: left;
    padding: 20px;
    /* background-color: grey;
    opacity: 0.5; */
}

.echipe{
    width: 50%;
    float: left;
    padding: 20px;
}

.main {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.input-fields{
    margin: 10px;
}

.input-field{
    width: 300px;
    height: 20px;
}

button{
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}



.footer-container {
    padding-top: 35px;
    /* padding-bottom: 25px; */
    margin: 0;
    background-color: black;
    color: #5A5A5A;
    text-align: center;
    display: flex;
  }
  
    .footer-container div {
      /* margin-left: 120px; */
      padding-left: 25px;
      padding-right: 25px;
      text-align: left;
    }
  
    .footer-container li {
      list-style-type: none;
    }
  
    .footer-container div h5, address strong {
      padding: 0;
      font-size: 15px;
      font-weight: bold;
      color: #bcbcbc;
    }
  
    .footer-container a {
      text-decoration: none;
      color: #5A5A5A;
    }
  
  
  @media screen and (max-width: 1430px) {
    .container-ibr {
      font-size: 15px;
      /* padding-bottom: 300px; */
    }
  
    h1 {
      font-size: 1.7rem;
      padding-bottom: 1rem;
    }
  
    .footer-container {
      padding-top: 15px;
      font-size: 0.8rem;
    }
  
      .footer-container div h5, address strong {
        font-size: 0.9rem;
      }
  }

   .input-field {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color : black;
    } 