
<header>
    <div class="container">
      <!-- row 1 -->
      <div class="row">
        <a class="brand pull-left" >Teambuilding</a>
        <ul class="list-inline list-unstyled pull-right">
          <li><a href="home">Home</a></li>
          <li><a href="activities">Activities</a></li>
          <li><a href="teams">Teams</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="contact.html">Login</a></li>
        </ul>
      </div>
    </div>
</header>

<router-outlet></router-outlet>

